name: go
concurrency: go
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
    paths:
      - .github/workflows/go.yml
      - go/**
jobs:
  build:
    name: Release Go variant image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/release-variant
        with:
          variant: go
          archs: amd64,aarch64,armv7
