name: py
concurrency: py
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
    paths:
      - .github/actions/release-variant/action.yml
      - .github/workflows/py.yml
      - py/**
jobs:
  build:
    name: Release Python variant image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/release-variant
        with:
          variant: py
          archs: amd64,aarch64,armv7
